<!doctype html>
<html>
  <head>
    <meta charset="utf-8">


    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">


    <title><%= data.page.title || "Auria" %></title>

    <%= stylesheet_link_tag "all" %>

  </head>

  <body class="<%= page_classes %>">

    <!-- Header -->
    <h1>Auria</h1>

    <nav class="top-nav">
      <h4>
        Browse Collections:
      </h4>
      <ul>
        <li>Spring/Summer 2013 Collection</li>
        <li>Graduate Collection</li>
      </ul>
    </nav>

    <!-- Collection -->
    <article class="collection">
      <%= yield %>
    </article>

    <!-- Navigation -->
    <nav class="bottom-nav">
      <h4>
        Browse Collections:
      </h4>
      <ul>
        <li>Spring/Summer 2013 Collection</li>
        <li>Graduate Collection</li>
      </ul>
    </nav>

    <!-- Footer -->
    <footer>
      <div class="about">
        <h4>
          About Auria:
        </h4>
        <p>
          Auria’s luxury swimwear comes in every gradient of acidic pastel, in
          a nod to the candy hued nostalgia for LA beach society in the
          eighties. Artemis’s feathered arrows rain down from the clouds, with
          prints created in collaboration with illustrator Margot Bowman. In
          contrast with the fun and experimental graphics, the cut of the
          garments are clean, sexy and accessible.
        </p>
        <p>
          After a day on the sand, Auria’s swimwear can be worn straight out to
          dinner or drinks. The one pieces look great peeping above the
          waistband of denim cut offs. Then again they could just be worn by
          themselves with a pair of heels if you’re feeling the collection’s
          ‘Showgirls’ vibe.” (any collection after will have pictures on a
          separate page so the collections are not confused).
        </p>
      </div>
      <div class="collections">
        <h4>
          Collections:
        </h4>
        <ul>
          <li>Spring/Summer 2013 Collection</li>
          <li>Graduate Collection</li>
        </ul>
      </div>
      <div class="social">
        <h4>
          Social:
        </h4>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
      </div>
      <div class="stockists">
        <h4>
          Stockists:
        </h4>
        <ul>
          <li>Urban Outfitters</li>
          <li>YOOX</li>
        </ul>
      </div>
      <div class="enquiries">
        <h4>
          Enquiries:
        </h4>
        <ul>
          <li>Say Hi</li>
          <li>Cosultancy/Commission</li>
          <li>Sustainability</li>
        </ul>
      </div>
    </footer>

    <i class="information-icon"></i>

    <!-- Scripts -->
    <%= javascript_include_tag  "all" %>
  </body>
</html>
