<!doctype html>
<html>
  <head>
    <title><%= data.page.title || "Auria" %></title>
    <!-- Meta Tags -->
    <%= partial "/partials/meta-tags" %>
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "all" %>
    <!-- Humans -->
    <link rel="author" href="/humans.txt">
  </head>

  <body>

    <%= yield %>

    <%= partial "/partials/springboard" %>

    <%= partial "/partials/footer" %>

    <!-- Scripts -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
    <script src="/javascripts/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/skrollr.min.js"></script>
    <script src="/javascripts/all.js"></script>

    <!-- Google Analytics
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-XX']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : '//www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script> -->

  </body>
</html>
